$primary_color:"blue";

.Login
{
    border: 2px solid rgb(138, 155, 230);
 
    padding:20px;
    border-radius: 15px;
   background:linear-gradient(rgb(193, 223, 193),rgb(189, 189, 224));
  
}
label
{
display:block;
width: 50%;
}
label strong{
    display:inline-block;
    width:40%;
 }

 input{
     margin-left: 1%;
     border:2px solid rgb(142, 215, 218);

 }
 .loginbtn
 {
   color:black;
   
   cursor: pointer;
   background-color: rgb(122, 163, 140);
 }



 